[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/FormaPro/UniversalErrorCatcher"]
	path = vendor/FormaPro/UniversalErrorCatcher
	url = https://github.com/formapro/universal-error-catcher.git
